{
	"folders": [
		{
			"path": "."
		}
	],
	"settings": {
		"editor.tabSize": 4,
		"editor.wordWrap": "bounded",
		"editor.wordWrapColumn": 120,
		"python.linting.enabled": true,
		"python.linting.flake8Enabled": true,
		"python.linting.flake8Args": [
			"--verbose"
		],
		"python.formatting.autopep8Args": [],
		"editor.rulers": [
			{
				"column": 65,
				"color": "orange"
			},
			{
				"column": 120,
				"color": "red"
			},
		]
	},
	"extensions": {
		"recommendations": [
			"ms-python.python",
			"ms-azuretools.vscode-docker",
			"ms-python.vscode-pylance",
			"ms-toolsai.jupyter"
		],
	}
}
